* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

.header {
    padding: 14px 0;
    background-color: #0a61f7;
}

.menu-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
}

.main-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 1.1;
    color: #363940;
    margin-bottom: 30px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #95a1bb;
}

.button {
    border-radius: 4px;
    width: 152px;
    height: 50px;
    background-color: #0a61f7;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.rates-section {
    padding: 100px 0;
    background: #f9fafc;
}
.rates-section .title {
    margin-bottom: 20px;
}
.rates-section .text {
    margin-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    color: #363940;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #95a1bb;
    width: 240px;
    padding: 15px 0;
    text-align: center;
}

.table-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #363940;
}

.table-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #363940;
    text-align: left;
    padding-right: 20px;
}

.table-subtitle.gray {
    color: #95a1bb;
}

.table-link {
    color: #0a61f7;
}

.table-button {
    border-radius: 4px;
    width: 140px;
    padding: 8px 0;
    border: 1px solid #0a61f7;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #0a61f7;
}

.table-button.active {
    background-color: #0a61f7;
    color: #fff;
}

.table-footer td {
    padding: 36px 0;
}

.creat-account-section {
    padding: 100px 0;
}
.creat-account-section .title {
    margin-bottom: 50px;
}

.creat-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    list-style-image: url(./assets/images/Check.svg);
    color: #363940;
    margin-left: 30px;
    margin-bottom: 15px;
}

form {
    width: 100%;
    max-width: 500px;
}

input, select, fieldset, textarea {
    border: 1px solid #95a1bb;
    border-radius: 4px;
    padding: 14px 15px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #95a1bb;
    font-family: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
}

fieldset {
    width: 100%;
    padding: 30px 15px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .button{
    width: 100%;
}

select {
    background: url(./assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./assets/images/Calendar.svg) no-repeat;
}

.footer {
    background: #0a61f7;
    padding: 20px;
    text-align: center;
}
small {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}